jupyterlab
mne
numpy
pandas
scipy
matplotlib
seaborn
scikit-learn
torch
torchvision
torchaudio
tqdm
ipywidgets
timm
scikit-image
nbformat
pywavelets
torch-geometric

# Development and Code Quality
ruff==0.5.5
pyright 